# Recorte 2014 - 2016 -> Estrategia

In [2]:
# Importando bibliotecas necessárias para a construção de grafos
import netpixi
from netpixi.integration.gt import *
from regression.integration.gt import *
import pandas as pd
import numpy as np
import csv
import ast
import cpnet
from graph_tool import spectral
import seaborn as sns
import regression as reg
import cpnet

from scipy import stats
from matplotlib import pyplot as plt
from graph_tool import centrality
from graph_tool import spectral

In [3]:
df = pd.read_csv('./Video_Games_Sales_as_at_22_Dec_2016.csv')
df.dropna(subset=['Publisher'], inplace=True)
df = df.loc[~df['Critic_Score'].isna() & ~df['User_Score'].isna() & ~df['Rating'].isna()]

In [4]:
df.head()

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8.0,322.0,Nintendo,E
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8.0,192.0,Nintendo,E
6,New Super Mario Bros.,DS,2006.0,Platform,Nintendo,11.28,9.14,6.50,2.88,29.80,89.0,65.0,8.5,431.0,Nintendo,E
7,Wii Play,Wii,2006.0,Misc,Nintendo,13.96,9.18,2.93,2.84,28.92,58.0,41.0,6.6,129.0,Nintendo,E

In [5]:
df_recortado = df.loc[(df['Year_of_Release'] >= 2014) & (df['Year_of_Release'] <= 2016) & (df['Genre'] == 'Strategy')]

In [6]:
df_recortado.head()

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
3791,StarCraft II: Legacy of the Void,PC,2015.0,Strategy,Activision,0.19,0.29,0.0,0.04,0.53,88.0,62.0,8.3,833.0,Blizzard Entertainment,T
5165,Sid Meier's Civilization: Beyond Earth,PC,2014.0,Strategy,Take-Two Interactive,0.11,0.22,0.0,0.03,0.36,81.0,78.0,5.5,1027.0,Firaxis Games,E10+
6657,Anno 2205,PC,2015.0,Strategy,Ubisoft,0.02,0.22,0.0,0.02,0.25,72.0,45.0,5.9,278.0,Blue Byte,E10+
6754,Sid Meier's Civilization VI,PC,2016.0,Strategy,Take-Two Interactive,0.09,0.13,0.0,0.02,0.25,88.0,81.0,7.3,684.0,Firaxis Games,E10+
6829,Total War: Attila,PC,2015.0,Strategy,Sega,0.09,0.13,0.0,0.02,0.24,80.0,66.0,7.3,520.0,Creative Assembly,T

In [7]:
df_recortado.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13 entries, 3791 to 13598
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Name             13 non-null     object
 1   Platform         13 non-null     object
 2   Year_of_Release  13 non-null     float64
 3   Genre            13 non-null     object
 4   Publisher        13 non-null     object
 5   NA_Sales         13 non-null     float64
 6   EU_Sales         13 non-null     float64
 7   JP_Sales         13 non-null     float64
 8   Other_Sales      13 non-null     float64
 9   Global_Sales     13 non-null     float64
 10  Critic_Score     13 non-null     float64
 11  Critic_Count     13 non-null     float64
 12  User_Score       13 non-null     float64
 13  User_Count       13 non-null     float64
 14  Developer        13 non-null     object
 15  Rating           13 non-null     object
dtypes: float64(10), object(6)
memory usage: 1.7+ KB

In [8]:
df_recortado.Year_of_Release.value_counts()

2015.0    6
2016.0    5
2014.0    2
Name: Year_of_Release, dtype: int64