# Recorte 2014 - 2016 -> Ação

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('./Video_Games_Sales_as_at_22_Dec_2016.csv')
df.dropna(subset=['Publisher'], inplace=True)
df = df.loc[~df['Critic_Score'].isna() & ~df['User_Score'].isna() & ~df['Rating'].isna()]

In [3]:
df.head()

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8.0,322.0,Nintendo,E
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8.0,192.0,Nintendo,E
6,New Super Mario Bros.,DS,2006.0,Platform,Nintendo,11.28,9.14,6.50,2.88,29.80,89.0,65.0,8.5,431.0,Nintendo,E
7,Wii Play,Wii,2006.0,Misc,Nintendo,13.96,9.18,2.93,2.84,28.92,58.0,41.0,6.6,129.0,Nintendo,E

In [4]:
df_recortado = df.loc[(df['Year_of_Release'] >= 2014) & (df['Year_of_Release'] <= 2016) & (df['Genre'] == 'Action')]

In [5]:
df_recortado.head()

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
42,Grand Theft Auto V,PS4,2014.0,Action,Take-Two Interactive,3.96,6.31,0.38,1.97,12.61,97.0,66.0,8.3,2899.0,Rockstar North,M
165,Grand Theft Auto V,XOne,2014.0,Action,Take-Two Interactive,2.81,2.19,0.00,0.47,5.48,97.0,14.0,7.9,764.0,Rockstar North,M
231,Uncharted: The Nathan Drake Collection,PS4,2015.0,Action,Sony Computer Entertainment,2.07,1.71,0.08,0.76,4.62,86.0,78.0,8.1,1264.0,Bluepoint Games,T
295,Watch Dogs,PS4,2014.0,Action,Ubisoft,1.40,1.90,0.11,0.64,4.05,80.0,80.0,6.3,2996.0,Ubisoft Montreal,M
304,Assassin's Creed: Unity,PS4,2014.0,Action,Ubisoft,1.19,2.07,0.08,0.62,3.96,70.0,40.0,4.9,2050.0,"Ubisoft, Ubisoft Montreal",M

In [6]:
df_recortado.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 221 entries, 42 to 16696
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Name             221 non-null    object
 1   Platform         221 non-null    object
 2   Year_of_Release  221 non-null    float64
 3   Genre            221 non-null    object
 4   Publisher        221 non-null    object
 5   NA_Sales         221 non-null    float64
 6   EU_Sales         221 non-null    float64
 7   JP_Sales         221 non-null    float64
 8   Other_Sales      221 non-null    float64
 9   Global_Sales     221 non-null    float64
 10  Critic_Score     221 non-null    float64
 11  Critic_Count     221 non-null    float64
 12  User_Score       221 non-null    float64
 13  User_Count       221 non-null    float64
 14  Developer        221 non-null    object
 15  Rating           221 non-null    object
dtypes: float64(10), object(6)
memory usage: 29.4+ KB

In [7]:
df_recortado.Year_of_Release.value_counts()

2014.0    80
2015.0    74
2016.0    67
Name: Year_of_Release, dtype: int64