# Recorte Estrat√©gia

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('./Video_Games_Sales_as_at_22_Dec_2016.csv')
df.dropna(subset=['Publisher'], inplace=True)
df = df.loc[~df['Critic_Score'].isna() & ~df['User_Score'].isna() & ~df['Rating'].isna()]

In [ ]:
df.head()

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8.0,322.0,Nintendo,E
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8.0,192.0,Nintendo,E
6,New Super Mario Bros.,DS,2006.0,Platform,Nintendo,11.28,9.14,6.50,2.88,29.80,89.0,65.0,8.5,431.0,Nintendo,E
7,Wii Play,Wii,2006.0,Misc,Nintendo,13.96,9.18,2.93,2.84,28.92,58.0,41.0,6.6,129.0,Nintendo,E

In [5]:
df_recortado = df.loc[(df['Genre'] == 'Strategy')]

In [6]:
df_recortado.head()

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
218,StarCraft II: Wings of Liberty,PC,2010.0,Strategy,Activision,2.57,1.68,0.00,0.58,4.84,93.0,82.0,8.2,3052.0,Blizzard Entertainment,T
582,Halo Wars,X360,2009.0,Strategy,Microsoft Game Studios,1.54,0.80,0.04,0.24,2.62,82.0,92.0,7.2,454.0,Ensemble Studios,T
1078,Sid Meier's Civilization V,PC,2010.0,Strategy,Take-Two Interactive,0.98,0.52,0.00,0.17,1.68,90.0,70.0,7.9,2280.0,Firaxis Games,E10+
1095,StarCraft II: Heart of the Swarm,PC,2013.0,Strategy,Activision,0.83,0.66,0.00,0.18,1.67,86.0,68.0,7.9,1346.0,Blizzard Entertainment,T
1128,Pikmin,GC,2001.0,Strategy,Nintendo,0.78,0.25,0.56,0.04,1.63,89.0,39.0,8.7,121.0,Nintendo,E

In [7]:
df_recortado.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 272 entries, 218 to 16706
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Name             272 non-null    object
 1   Platform         272 non-null    object
 2   Year_of_Release  267 non-null    float64
 3   Genre            272 non-null    object
 4   Publisher        272 non-null    object
 5   NA_Sales         272 non-null    float64
 6   EU_Sales         272 non-null    float64
 7   JP_Sales         272 non-null    float64
 8   Other_Sales      272 non-null    float64
 9   Global_Sales     272 non-null    float64
 10  Critic_Score     272 non-null    float64
 11  Critic_Count     272 non-null    float64
 12  User_Score       272 non-null    float64
 13  User_Count       272 non-null    float64
 14  Developer        272 non-null    object
 15  Rating           272 non-null    object
dtypes: float64(10), object(6)
memory usage: 36.1+ KB